.sign-form-base{
  display:flex;
  flex-direction: column;;
  max-width: 314px;
  width:100%;
}
.sign-form-wrapper{
  max-width: 450px;
  margin:auto;
  background-color: rgba(0,0,0,0.75);
  padding:60px 68px 40px;
  border-radius: 4px;
  min-height: 570px;
}