
.subscribe-btn{
  background-color: #e50914;
  height:4rem;
  color:#ffff;
  text-decoration: none;
  padding:auto;
  font-size: 2rem;
  font-weight: 400;
  border: none;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
  padding:8px 15px;
}
.subscribe-btn:hover{
  background-color: #FF1818;
}